{{- $root := . -}}

{{- $coverlib := $.Site.GetPage "page" "library/covers" -}}
{{- $covers := $coverlib.Resources.ByType "image" -}}
{{- $resource := (index (shuffle $covers) 0) -}}

{{- if .Params.cover -}}
    {{- with .Resources.GetMatch (printf "%s*" .Params.cover) -}}
        {{- $resource = . -}}
    {{- end -}}
{{- end -}}

{{- if $resource -}}
    {{- $srcset := "" -}}
    {{- range (slice 640 1280 1600) -}}
        {{- if lt . $resource.Width -}}
            {{- $srcset = printf "%s%s" $srcset ($resource.Resize (printf "%dx q50" .)).RelPermalink -}}
            {{- $srcset = printf "%s%s" $srcset (printf " %dw, " .) -}}
        {{- end -}}
    {{- end -}}

    <div class="background">
        <img
            src="{{ ($resource.Resize "640x q50").RelPermalink }}"
            alt=""
            aria-hidden="true"
            {{ printf "srcset=\"%s\"" (substr $srcset 0 -2) | safeHTMLAttr }}
            />
    </div>
{{- end -}}
