        <!-- Language selector for mobile -->
        <div class="hidden-md-up hidden-print">
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <h6>SmartRoadSense</h6>
                        <ul>
                            <li><a href="#">Something</a></li>
                            <li><a href="#">Something</a></li>
                            <li><a href="#">Something</a></li>
                            <li><a href="#">Something</a></li>
                            <li><a href="#">Something</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <h6>Legal</h6>
                        <p>Laboris <a href="#">sint duis ea</a> incididunt ad irure veniam.</p>
                        <p>Nostrud nisi sint <a href="#">proident cupidatat</a> ex consequat dolore deserunt esse pariatur non amet id.</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        Contact stuff.
                    </div>
                </div>
            </div>
        </footer>

        <!-- Scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" crossorigin="anonymous"></script>
        <script src="{{ "resources/bootstrap.min.js" | absURL }}" ></script>
    </body>
</html>
<!-- Goodbye! -->
