        </div><!-- /.content -->

        <!-- Language selector for mobile -->
        <div class="d-md-none d-print-none">
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <h6>SmartRoadSense</h6>
                        <ul>
                            <li><a href="{{ "news" | absLangURL }}">{{ i18n "menuNews" }}</a></li>
                            <li><a href="{{ relref . "project/about/index.md" | absLangURL }}">{{ i18n "menuProjectAbout" }}</a></li>
                            <li><a href="{{ relref . "data/map/index.md" | absLangURL }}">{{ i18n "menuDataMap" }}</a></li>
                            <li><a href="{{ relref . "data/open-data/index.md" | absLangURL }}">{{ i18n "menuDataOpen" }}</a></li>
                            <li><a href="{{ relref . "data/developers/index.md" | absLangURL }}">{{ i18n "menuDataDevelopers" }}</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <h6>{{ i18n "menuLegalSubtitle" }}</h6>
                        <p>
                            Something something something. Something.
                            <a href="{{ relref . "data/privacy/index.md" | absLangURL }}">{{ i18n "menuDataPrivacy" }}</a>.
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        Contact stuff.
                    </div>
                </div>
            </div>
        </footer>

        <!-- Scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <script src="{{ "resources/smartroadsense.js" | absURL }}" ></script>
    </body>
</html>
<!-- Goodbye! -->
