        </div><!-- /.content -->

        <!-- Language selector for mobile -->
        <div class="footer-language-switch d-md-none d-print-none">
            <div class="container">
                {{ i18n "footerOtherLanguages" }}:
                {{ range .AllTranslations }}
                    <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Language.LanguageName }}</a>
                {{ end }}
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <h6>SmartRoadSense</h6>
                        <ul>
                            <li><a href="{{ "news" | absLangURL }}">{{ i18n "menuNews" }}</a></li>
                            <li><a href="{{ relref . "project/about/index.md" | absLangURL }}">{{ i18n "menuProjectAbout" }}</a></li>
                            <li><a href="{{ relref . "data/map/index.md" | absLangURL }}">{{ i18n "menuDataMap" }}</a></li>
                            <li><a href="{{ relref . "data/open-data/index.md" | absLangURL }}">{{ i18n "menuDataOpen" }}</a></li>
                            <li><a href="{{ relref . "data/developers/index.md" | absLangURL }}">{{ i18n "menuDataDevelopers" }}</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <h6>{{ i18n "menuLegalSubtitle" }}</h6>
                        <p>{{ i18n "menuLegalIntro" | safeHTML }} <a href="{{ relref . "data/privacy/index.md" | absLangURL }}">{{ i18n "readMoreClean" }}</a>.</p>
                        <p>{{ i18n "menuLegalEuFunding" | safeHTML }}</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <p class="social-links">
                            {{ with .Site.GetPage "section" "news" -}}
                            <a href="{{ .RSSLink }}"><img src="{{ "icons/feed-icon.svg" | absURL }}" class="icon" alt="RSS Feed icon" /></a>
                            {{- end }}
                            <a href="https://www.facebook.com/smartroadsense/" target="_blank"><img src="{{ "icons/facebook.svg" | absURL }}" class="icon" alt="Facebook logo" /></a>
                            <a href="https://twitter.com/smartroadsense"><img src="{{ "icons/twitter.svg" | absURL }}" class="icon" alt="Twitter logo" /></a>
                        </p>
                        <p>{{ i18n "footerOwnership" | safeHTML }}</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js" integrity="sha256-m2ByX2d6bw2LPNGOjjELQGPrn6XyouMV9RuVzKhJ5hA=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha256-xaF9RpdtRxzwYMWg4ldJoyPWqyDPCRD0Cv7YEEe6Ie8=" crossorigin="anonymous"></script>

        {{- $mainJS := resources.Get "js/smartroadsense.js" | minify | fingerprint }}
        <script src="{{ $mainJS.Permalink }}" integrity="{{ $mainJS.Data.Integrity }}"></script>

        {{- if .Params.js -}}
            {{- range .Params.js }}
        <script src="{{ partial "asset" . }}"></script>
            {{- end -}}
        {{- end }}
    </body>
</html>
<!-- Goodbye! -->
