<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" />
        <link rel="stylesheet" type="text/css" href="{{ "resources/bootstrap.min.css" | absURL }}" />

        <link rel="canonical" href="{{ .Permalink }}" />

        <title>SmartRoadSense</title>
    </head>

    <body>