{{- $root := . -}}

{{- if .Params.cover -}}
    {{- with .Resources.GetMatch (printf "%s*" .Params.cover) -}}
        {{- $res := . -}}
        {{- $root.Scratch.Set "srcset" "" -}}
        {{- range (slice 512 1024 1280 1600) -}}
            {{- if lt . $res.Width -}}
                {{- $root.Scratch.Add "srcset" ($res.Fill (printf "%dx%d q50" . .)).RelPermalink -}}
                {{- $root.Scratch.Add "srcset" (printf " %dw, " .) -}}
            {{- end -}}
        {{- end -}}
        {{- $root.Scratch.Set "srcset" (substr ($root.Scratch.Get "srcset") 0 -2) -}}

        <div class="thumbnail">
            <div class="squarer">
                <img
                    src="{{ ($res.Fill "256x256 q50").RelPermalink }}"
                    alt=""
                    width="256" height="256"
                    {{ printf "srcset=\"%s\"" ($root.Scratch.Get "srcset") | safeHTMLAttr }}
                    />
            </div>
        </div>
    {{ end -}}
{{- end }}
