// Ripped out from Bootstrap variables

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$font-size-base: 1rem;

// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

$primary:                   #2a69ff;
$info:                      #bcd0ff;

$enable-rounded:            false;
$enable-shadows:            true;
$enable-gradients:          true;
$enable-transitions:        true;

$navbar-dark-color:             $gray-200;
$navbar-dark-hover-color:       $white;
$navbar-dark-active-color:      lighten($primary, 30%);
$navbar-dark-disabled-color:    $gray-400;
$navbar-dark-toggler-border-color: rgba($white, .4);

$dropdown-link-color:           $primary;
$dropdown-link-hover-color:     $white;
$dropdown-link-hover-bg:        $primary;
$dropdown-link-active-color:    $white;
$dropdown-link-active-bg:       $primary;

// General font stuff
$font-family-base:              'Open Sans', "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-size-h1:                  $font-size-base * 3;
$font-size-h2:                  $font-size-base * 2.5;
$font-size-h3:                  $font-size-base * 2;

$font-weight-normal: 400;
$font-weight-bold: 600;
$lead-font-weight: 400;

@import "../node_modules/bootstrap/scss/bootstrap";

// Additional CSS

a {
    text-decoration-skip: ink;
}

.no-trans {
    transition: unset !important;
}

// Sticky footer
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;

    > .content {
        flex: 1 0 auto;
    }
}
footer {
    flex-shrink: 0;
}

// Transition offsets
.trans-offset-1 {
    transition-delay: 0ms !important;
}
.trans-offset-2 {
    transition-delay: 500ms !important;
}
.trans-offset-3 {
    transition-delay: 1000ms !important;
}
.trans-offset-4 {
    transition-delay: 1500ms !important;
}

// Navbar
nav.navbar {
    transition: background .35s ease-out;

    background: linear-gradient(to bottom, rgba($black, 0.22), rgba($black, 0.0) 90%);

    a.navbar-brand {
        color: $gray-100;
        text-shadow: 1px 1px 3px $gray-800;
    }
    a.navbar-brand:hover {
        color: $white;
    }

    a.nav-link {
        text-shadow: 1px 1px 3px $gray-800;
    }

    &.scrolled {
        background: $primary;
    }
    &.expanded {
        @include media-breakpoint-down(sm) {
            background: $primary;
        }
    }
}

// Jumbotron
$jumbotron-bg: transparent;

// Header
header {
    position: relative;
    height: 250px;
    margin-bottom: 2em;

    background-color: $primary;
    color: $white;

    .background {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        background-color: $primary;

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }

    .occluder {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 70px;
        background: linear-gradient(to bottom right, transparent 0, transparent 50%, $white 50%, $white 100%);
    }

    .bottom-aligner {
        position: absolute;
        bottom: 2em;
        width: 100%;
    }

    h1 {
        font-weight: 600;
        white-space: nowrap;

        margin-left: -0.35em;
        margin-bottom: -0.1em;

        font-size: 3rem;
        @include media-breakpoint-only(sm) {
            font-size: 3.2rem;
        }
        @include media-breakpoint-only(md) {
            font-size: 3.6rem;
        }
        @include media-breakpoint-up(lg) {
            font-size: 4rem;
        }

        transform: rotateZ(3deg);
        transform-origin: left center;

        span {
            color: $white;
            background: $primary url(../images/stripe_blue.png) repeat;
            padding: .1em .5em;
            box-decoration-break: clone;
        }
    }

    .lead {
        @include media-breakpoint-up(md) {
            font-size: ($font-size-base * 1.5);
        }
    }
}
header.hero {
    height: 400px;
    @include media-breakpoint-up(md) {
        height: 600px;
    }
    margin-bottom: 1em;

    background-color: $primary;

    > .occluder {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom right, transparent 0, transparent 50%, $white 50%, $white 100%);
    }

    .logo {
        img {
            @include media-breakpoint-up(md) {
                position: relative;
                top: 20px;
            }

            width: 100%;
            height: auto;
        }
    }

    h1 {
        white-space: unset;
        text-shadow: $black 1px 1px 3px;

        margin-left: 0;
        margin-bottom: 0.15em;

        transform: unset;

        span {
            padding: 0;
            background: none;
        }
    }

    p {
        display: inline;
        position: relative;

        white-space: pre-wrap;
        line-height: 1.7;
        border: 0 solid $primary;
        border-width: 0.3em 0;

        &, &:after {
            background: $primary;
        }
        &:after {
            content: "";
            position: absolute;
            top: -0.3em;
            right: 100%;
            bottom: -0.3em;
            width: 0.5em;
        }

        > span {
            position: relative;
            z-index: 1;
            padding-right: 0.5em;
            box-decoration-break: clone;
        }
    }
}

.section-title {
    margin-top: 1.5em;
    margin-bottom: .3em;
    @include media-breakpoint-up(sm) {
        margin-left: -0.35em;
    }

    white-space: nowrap;
    font-size: $h2-font-size;
    @include media-breakpoint-up(md) {
        font-size: ($h2-font-size * 1.25);
    }

    transform: rotateZ(-3deg);
    transform-origin: left center;

    &.scroll-in {
        transform: rotateZ(-10deg);
        opacity: 0;
    }

    opacity: 1;
    transition: transform 1.5s ease-out, opacity 0.6s linear;

    span {
        color: $white;
        background: $primary url(../images/stripe_blue.png) repeat;
        padding: 0.15em 0.35em;
    }
}

.video-player {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    div {
        position: relative;
        width: 100%;
        height: 0;
        overflow: hidden;
        padding-bottom: 56.25%;
    }

    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}

.badge img {
    width: 80%;
    height: auto;
}

// Cards
$card-border-radius: 0;

.cards-sequence {
    margin-top: 1em;

    @include media-breakpoint-down(md) {
        > div {
            margin-bottom: 1em;
        }
    }

    @include media-breakpoint-down(xs) {
        > div {
            margin-top: 1em;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .card, .not-card {
        opacity: 1;
        transform: translateY(0px);
        transition: transform 1.5s ease-out, opacity 0.6s linear;
    }
    &.scroll-in {
        .card, .not-card {
            opacity: 0;
            transform: translateY(-50px);
        }
    }
}
.card {
    .card-counter {
        position: absolute;
        width: 50px;
        height: 50px;
        top: -25px;
        left: -25px;
        border-radius: 50% 50%;
        border: solid 3px white;
        background: $primary;
        text-align: center;
        color: white;
        box-shadow: $gray-300 1px 1px 3px;
        font-size: 1.7rem;
        font-weight: 600;
    }
    .card-img-top {
        width: 100%;
        height: auto;
        object-fit: cover;
        background-image: url(../images/stripe_gray.png);
        background-repeat: repeat;
    }
}

// Footer
$footer-background: $gray-200;
$footer-text-color: $gray-600;
$footer-gutter-color: $gray-400;

footer {
    background: $footer-background;
    margin-top: 4em;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: $small-font-size;
    color: $footer-text-color;

    a {
        text-decoration: underline;
        color: $gray-700;
    }
    a:hover {
        color: $primary;
    }

    h5, h6 {
        color: $primary;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            padding: 0;
            margin: 0;
        }
    }

    p:last-child {
        margin-bottom: 0;
    }

    @include media-breakpoint-up(md) {
        // 3 columns variant
        .row > div {
            border-right: solid 1px $footer-gutter-color;
        }
        .row > div:last-child {
            border-right: none;
        }
    }
    @include media-breakpoint-only(sm) {
        // 2 columns variant
        .row > div:first-child {
            border-right: solid 1px $footer-gutter-color;
        }
        .row > div:last-child {
            margin-top: 1em;
            padding-top: 1em;
            border-top: solid 1px $footer-gutter-color;
        }
    }
    @include media-breakpoint-down(xs) {
        // Stacked variant
        .row > div {
            margin-bottom: 1em;
            padding-bottom: 1em;
            border-bottom: solid 1px $footer-gutter-color;
        }
        .row > div:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }
    }
}
