{{- $root := . -}}

{{- $resources := .Page.Resources -}}
{{- if (.Get "bundle") -}}
    {{- $bundlePage := .Site.GetPage "page" (.Get "bundle") -}}
    {{- $resources = $bundlePage.Resources -}}
{{- end -}}

{{- with $resources.GetMatch (.Get "src") -}}
    {{- $res := . -}}
    {{- $srcset := "" -}}

    {{- range (slice 480 760 1280 1600) -}}
        {{- if lt . $res.Width -}}
            {{- $srcset = printf "%s%s" $srcset ($res.Resize (printf "%dx q50" .)).RelPermalink -}}
            {{- $srcset = printf "%s%s" $srcset (printf " %dw, " .) -}}
        {{- end -}}
    {{- end -}}
    {{- $srcset = printf "%s%s" $srcset $res.RelPermalink -}}
    {{- $srcset = printf "%s%s" $srcset (printf " %dw" $res.Width) -}}

<div class="picture{{ if $root.Get "class" }} {{ $root.Get "class" }}{{ end }}">
    <a href="{{ $res.RelPermalink }}">
        <img src="{{ ($res.Resize "480x q50").RelPermalink }}"
            {{ printf "srcset=\"%s\"" $srcset | safeHTMLAttr }}
            {{ if $root.Get "class "}}class="{{ $root.Get "class" }}"{{ end -}}
            />
    </a>
    {{ if $root.Get "didascaly" }}
    <div class="didascaly">{{ $root.Get "didascaly" | safeHTML }}</div>
    {{ else if .Params.didascaly }}
    <div class="didascaly">{{ .Params.didascaly | safeHTML }}</div>
    {{ end }}
</div>

{{- end -}}
