{{ $root := . }}

{{- with .Page.Resources.GetMatch (printf "%s*" (.Get "src")) -}}
    {{- $res := . -}}
    {{- $srcset := "" -}}

    {{- range (slice 480 760 1280 1600) -}}
        {{- if lt . $res.Width -}}
            {{- $srcset = printf "%s%s" $srcset ($res.Resize (printf "%dx" .)).RelPermalink -}}
            {{- $srcset = printf "%s%s" $srcset (printf " %dw, " .) -}}
        {{- end -}}
    {{- end -}}
    {{- $srcset = printf "%s%s" $srcset $res.RelPermalink -}}
    {{- $srcset = printf "%s%s" $srcset (printf " %dw" $res.Width) -}}

<img src="{{ (.Resize "480x").RelPermalink }}" width="{{ $res.Width }}" height="{{ $res.Height }}"
    {{- if $root.Get "class" }} class="{{ $root.Get "class" }}" {{ end -}}
    {{- if $root.Get "alt" }} alt="{{ $root.Get "alt" }}" {{ end -}}
    {{- printf "srcset=\"%s\"" $srcset | safeHTMLAttr }} />

{{ else }}

    {{ errorf "Resource '%s' not found" (.Get "src") }}

{{- end -}}
