{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

        <header class="hero">
            {{ partial "cover.html" . }}
            <div class="occluder"></div>
            <div class="bottom-aligner">
                <div class="container">
                    <div class="row align-items-end">
                        <div class="col-4 order-md-last logo">
                            <img src="{{ "images/srs_logo_280.png" | absURL }}" width="1120" height="1120" srcset="{{ "images/srs_logo_1120.png" | absURL }} 1120w, {{ "images/srs_logo_840.png" | absURL }} 840w, {{ "images/srs_logo_560.png" | absURL }} 560w, {{ "images/srs_logo_280.png" | absURL }} 280w" alt="SmartRoadSense Logo" title="SmartRoadSense" />
                        </div>
                        <div class="col-md-8 order-md-first">
                            <h1><span>SmartRoadSense</span></h1>
                            <p class="lead"><span>{{ i18n "srsTagLine" }}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="main">

        <section>
            <div class="container">

{{ .Content }}

            </div>
        </section>

        </div>

{{ partial "footer.html" . }}
