{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

        <header>
            {{ partial "cover.html" . }}
            <div class="occluder"></div>
            <div class="bottom-aligner">
                <div class="container">
                    <h1><span>{{ .Params.title }}</span></h1>
                </div>
            </div>
        </header>

        <div class="main">

        <section>
            <div class="container">

{{ $pageCount := len .Paginator.Pages }}
{{ range $index, $element := .Paginator.Pages }}
    {{ partial "newsSummary.html" $element }}

    {{ if ne (add $index 1) $pageCount }}
            </div>
        </section>

        <section>
            <div class="occluder"></div>
            <div class="container">
    {{ end }}
{{ end }}

                {{ template "_internal/pagination.html" . }}

            </div>
        </section>

        </div>

{{ partial "footer.html" . }}
