{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

        <header>
            {{ partial "cover.html" . }}
            <div class="occluder"></div>
            <div class="bottom-aligner">
                <div class="container">
                    <h1><span>{{ i18n "menuNews" }}</span></h1>
                </div>
            </div>
        </header>

        <div class="main">

        <article id="news-{{ .UniqueID }}">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>{{ .Title }}</h1>

                        <div class="small-metadata">
                            <div class="date">
                                <img src="{{ "icons/calendar.svg" | absURL }}" class="icon" alt="Calendar icon" />
                                {{ .PublishDate.Format "Monday, 2 January 2006" }}
                            </div>

                            <div class="permalink">
                                <img src="{{ "icons/link-intact.svg" | absURL }}" class="icon" alt="Link icon" />
                                <a href="{{ .Permalink }}">{{ i18n "permalink" }}</a>
                            </div>
                        </div>

                        <div class="content">
                            {{ .Content }}
                        </div>
                    </div>
                </div>

                <nav class="intra-section">
                    <div class="row">
                        <div class="col-md-6 link">
                            {{ if .PrevInSection }}
                            <img src="{{ "icons/arrow-thick-left.svg" | absURL }}" class="icon" alt="" /> <a href="{{ .PrevInSection.RelPermalink }}">{{ .PrevInSection.Title }}</a>
                            {{ end }}
                        </div>
                        <div class="col-md-6 link text-right">
                            {{ if .NextInSection }}
                            <a href="{{ .NextInSection.RelPermalink }}">{{ .NextInSection.Title }}</a> <img src="{{ "icons/arrow-thick-right.svg" | absURL }}" class="icon" alt="" />
                            {{ end }}
                        </div>
                    </div>
                </nav>
            </div>
        </article>

        </div>

{{ partial "footer.html" . }}
