{{- $root := . -}}

{{- $nameroot := printf "%s*" ($root.Get "nameroot") -}}
{{- $imgs := $root.Page.Resources.Match $nameroot -}}

<div class="gallery row">
    {{- range $imgs -}}
        {{- $res := . -}}

        {{- $srcset := "" -}}
        {{- range (slice 580 780) -}}
            {{- if lt . $res.Width -}}
                {{- $srcset = printf "%s%s" $srcset ($res.Resize (printf "%dx q50" .)).RelPermalink -}}
                {{- $srcset = printf "%s%s" $srcset (printf " %dw, " .) -}}
            {{- end -}}
        {{- end -}}
        {{- $srcset = printf "%s%s" $srcset ($res.Resize "1280x q50").RelPermalink -}}
        {{- $srcset = printf "%s%s" $srcset " 1280w" -}}

        <div class="col-12 col-md-6 col-lg-4">
            <div class="item">
                <a href="{{ $res.RelPermalink }}" class="image-box">
                    <img src="{{ ($res.Resize "580x q50").RelPermalink }}"
                        {{ printf "srcset=\"%s\"" ($srcset) | safeHTMLAttr }}
                        />
                </a>
                {{ if .Params.didascaly }}
                <div class="didascaly">{{ .Params.didascaly | safeHTML }}</div>
                {{ end }}
            </div>
        </div>
    {{- end -}}
</div>
